body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,
  'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat"; 

  /* background-image: url("../public/background2.jpg");
  background-size: no-repeat;
  background-position: center;
  background-size: cover; */
}

.content {
  min-height: calc(100vh - 70px - 64px);
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0.5rem;
}

label:not(:last-child) {
  margin-right: 1rem;
}

@font-face {
  font-family: "Montserrat"; 
  src: url("../fonts/montserrat.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 